.master-head {
  height: 100vh;
  padding-top: 6.5rem;
  padding-bottom: 5rem;
  color: #fff;
  background: url('../assets/images/bg.jpg') top right;

  h1:nth-child(2) {
      color: #fac461;
  }
}

.navbar {
  background: #0c1737;

  a {
    color: #fac461;
  }
}

.text-bold {
  font-weight: bold;
}

.btn-outline-light {
  border: none;
  background: #fac461;
}